.orders li a{
  color: black;
  text-decoration: none;
  font-size: 200;

}
.orders li{
  display: inline-block;
  padding: 15px;
  
}
.orders li a:hover , .orders li a active{
  text-decoration: underline;
}
.title{
  background-color: rgb(212, 212, 212);
  margin-left: 30px;
  padding: 6px 6px 6px 15px;
  margin-right: 60rem;
  border-radius: 6px;
  display: inline-flex;
}
.container{
  text-align:left ;
  display: inline-block;
  position: relative;
  left: 0px;
}
.container img{
  height: 250px;
  width: 200px;
  float: right;
}
.buyagain{
  background-color: yellow !important;
  color: black !important;
  border: none !important;

}
.cardss{
  padding-left: 35px;
}
.quest{
  border: 1px solid black;
  border-radius: 5px;
  color: black !important;
 padding: 6px;
  line-height: 4;
}
.quest:hover{
  text-decoration: none;
}